.splash-body
  = image_tag 'beer_splash600.jpg'

  .splash-text
    %h1
      %span
        Re-Tap:
    %h2
      %span
        Recommendations on tap.
    .mobile-text
      %h1 Re-Tap: recommendations on tap.
    #sign-in
      %a.btn.btn-large.btn-block.btn-warning{:href => '/auth/facebook'} Login with Facebook
