.image
  = image_tag 'beer_splash600.jpg'
  %h1
    %span
      Re-Tap:
      %br
      %h2 Recommendations on tap.

  .row
    .span3.center-in-span
      %a#sign-in.btn.btn-large.btn-block.btn-warning{:href => '/auth/facebook'} Login with Facebook



