#beer1 {
  display: none;
}
#beer2 {
  display: none;
}
#beer3 {
  display: none;
}
#beer4 {
  display: none;
}
#beer5 {
  display: none;
}

@media screen and (min-width:800px) {
  .brews-index {
    position: relative;
    width: 100%; /* for IE 6 */
  }
  #virtual_bar {
    width: "720";
    height: "450";
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image:url('vector_bar.svg');
    background-size: cover;
    width: auto;
    height: auto;
  }
}
@media screen and (max-width:799px) {
  .brews-index {
    display: inline;
  }
  canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image:url('vector_bar.svg');
    background-size: 100% 100%;
    width: 100%;
    height: auto;
  }
}