.row-fluid.footer
  .span4.center-in-span
    %h3 Information
    %a{:href => "#"} About Us
    .br
    %a{:href => "#"} Terms and Conditions
  .span4.center-in-span
    %h3 Code
    .github_logo
      = link_to image_tag('github_logo50.png'), 'http://github.com/diasporism/retap'
  .span4.center-in-span
    %h3 Miscellaneous
    %a{:href => "#"} BreweryDB
    .br
    %a{:href => "#"} D3

