.row-fluid.footer
  .span4.center-in-span
    %h3 Information
    %a{:href => 'http://www.linkedin.com/pub/logan-sears/64/418/361'} About Me
    .br
    %a{:href => 'http://www.gschool.it/'} gSchool
  .span4.center-in-span
    %h3 Code
    .github_logo
      = link_to image_tag('github_logo50.png'), 'http://github.com/diasporism/retap'
  .span4.center-in-span
    %h3 Miscellaneous
    %a{:href => 'http://www.brewerydb.com/'} BreweryDB
    .br
    %a{:href => 'http://www.createjs.com/#!/EaselJS'} EaselJS

